
.cadastro{
    border: 1px solid black;
    width: 60%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 30px;
}

.formulario{
    text-align: center;
}

#enviar{
    text-align: center;
    width: 100px;
    margin-bottom: 40px;
}